@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*     reset     */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*       body       */

/*       header       */
.header{
    width: 100%;
    min-height: 60px;
    background-color: #171c35;
}

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 60px;
    padding: 0 20px;
}

.logo{
    width: 100px;
    height: 36.75px;
    display: block;
}

.img_logo{
    width: 100%;
    height: auto;
}


/*       navigation       */
.nav{}

.nav_list{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.nav_item{
    position: relative;
}

.nav_link{
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
}

.nav_link::after{
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(23, 58, 155);
    opacity: 0;
    transition: all 0.3s;
}

.nav_link:hover, .nav_link:focus, .nav_link:hover:after{
    opacity: 1;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgb(150, 0, 150);
    padding: 8px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn:hover{
    background-color: white;
    color: rgb(150, 0, 150);
}

.social{
    width: 25px;
    height: 25px;
    color: white;
}

.nav_link:focus::after {
  opacity: 1;
}


/**       main       */

main{
    min-height: 100vh;
}

.intro{
    background-color: #171c35;
    min-height: 720px;
}
.intro_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro_head{
    color: white;
}

.intro_head2{
    color: white;
}

.intro_text{
    color: grey;
}

.about{
    background-color: white;
}

.about_content{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_head{
    margin: 40px 0 20px 0;
    color: #171c35;
}

.about_head2{
    left: 10px;
    bottom: -8px;
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: rgb(8, 107, 140);
}

.about_text{
    margin: 20px;
    color: #171c35;
}