@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*     reset     */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*       body       */
body{
    background-color: rgb(52, 0, 95);
}

/*       header       */
.header{
    width: 100%;
    min-height: 60px;
    background-color: rgb(52, 0, 95);
}

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 60px;
    padding: 0 20px;
}

.logo{
    width: 40px;
    height: 50px;
    display: block;
}

.img_logo{
    width: 100%;
    height: auto;
}


/*       navigation       */
.nav{}

.nav_list{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.nav_item{
    position: relative;
}

.nav_link{
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
}

.nav_link::after{
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(150, 0, 150);
    opacity: 0;
    transition: all 0.3s;
}

.nav_link:hover, .nav_link:focus, .nav_link:hover:after{
    opacity: 1;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgb(150, 0, 150);
    padding: 8px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn:hover{
    background-color: white;
    color: rgb(150, 0, 150);
}