@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*     reset     */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*     html      */
html{
    scroll-behavior: smooth;
    transition: all 5s ease-out;
}

/*       body       */

/*       header       */
.header-full{
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 60px;
    background-color: #171c35;
}

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 60px;
    padding: 0 20px;
}

.logo{
    width: 100px;
    height: 36.75px;
    display: block;
}

.img_logo{
    width: 100%;
    height: auto;
}


/*       navigation       */

.nav_list{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.nav_item{
    position: relative;
}

.nav_link{
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}

.nav_link::after{
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(23, 58, 155);
    opacity: 0;
    /* transition: all 0.3s; */
}

.nav_link:hover, .nav_link:focus, .nav_link:hover:after{
    opacity: 1;
    color: white;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgb(150, 0, 150);
    padding: 8px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn:hover{
    background-color: white;
    color: rgb(150, 0, 150);
}

.social{
    width: 25px;
    height: 25px;
    color: white;
}

.nav_link:focus::after {
  opacity: 1;
}



/**       main       */

main{
    min-height: 100vh;
}


/**       home       */

.home_arc{
    min-height: 680px;
    background-color: #171c35;
}

.home_section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 120px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.home_trustrate {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6px 14px;
    border-radius: 20px;
    border: solid 1px rgb(8, 76, 140);
    font-size: 14px;
    color: #fff;
}

.home_text_sec {
    flex: 1;
    max-width: 520px;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.home_img_sec{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.home_img_sec img {
    width: 100%;
    max-width: 680px;
    height: 400px;
    
}

.home_head{
    font-size: 48px;
    font: times;
    line-height: 1.2;
    font-weight: 700;
    color: white;
}

.home_text{
    font-size: 17px;
    line-height: 1.6;
    color: #d3d3d3;
}

.home_pros {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.home_pros_items{
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

.home_pros_checkmarks{
    height: 20px;
    width: 20px;
}

.home_buttons{
    display: flex;
    gap: 20px;
}

.home_button_1{
    border-radius: 7px;
    border-color: rgb(75, 75, 255);
    line-height: 50px;
    width: 200px;
    font-size: medium;
    background-color: rgb(106, 157, 252);
    color: white;
    font-weight: 600;
}

.home_button_2{
    border: solid gray 1px;
    border-radius: 5px;
    line-height: 20px;
    width: 200px;
    font-size: medium;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

.home_reviews{
    display: flex;
    align-items: center;
    gap: 10px;
}

.home_reviews_stars{
    width: 90px;
    height: 60px;
}

.home_reviews_text{
    color: #d3d3d3;
    font-weight: 600;
}

/*     about     */


.about_arc{
    min-height: 1080px;
    background-color: white;
}

.about_content{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_head{
    margin: 60px 0 20px 0;
    color: #171c35;
}

.about_head2{
    left: 10px;
    bottom: -8px;
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: rgb(8, 107, 140);
}

.about_text{
    margin: 20px;
    color: #171c35;
}